.container {
    width: 100%;
    flex: 1 1 0%;
}

.listContainer {
    position: relative;

}

.list {
    font-size: 12px;
    width: 140px;
    position: absolute;
    right: 0;
    top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: var(--white);
    z-index: 2;
}

p.closeButton {
    width: 100%;
    height: 36px;
    padding: 10px;
    text-align: center;
    background: #D9D9D9;
    color: #999999;
    margin: 0;
    border-radius: 0 0 3px 3px;
}

.bg{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

@media all and (min-width: 1024px) {
    .list {
        width: 157px;
        font-size: 14px;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
    }
}
@media all and (min-width: 1540px) {
    .list{
        width: 160px;
        font-size: 15px;
        padding-bottom: 5px;
    }
    p.closeButton{
        display: none;
    }
}