/*.container {*/
/*    font-size: 12px;*/
/*    width: 140px;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 10px;*/
/*    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
/*    border-radius: 3px;*/
/*    background-color: var(--white);*/
/*}*/

.listContainer {
    padding: 12px 20px 0;
}

/*!*.list:not(:nth-child(3) ) , {*!*/
/*!*    display: none;*!*/
/*!*}*!*/
.list {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
}

.list:last-child {
    border-bottom: none;
}



@media all and (max-width: 1023px) {
    .list:not(:nth-child(3)):not(:nth-child(5)) {
        display: none;
    }
}

@media all and (min-width: 1024px) {


    .list {
        display: flex;
    }
}


